{
  "env": {
    "development": {
      "plugins": [
        ["babel-plugin-styled-components", {"displayName": true}]
      ]
    },
    "production": {
      "plugins": [
        ["babel-plugin-styled-components", {"displayName": false}]
      ]
    }
  },
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}
